:root {
    --primary-color: #388697;
    --secondary-color: #B5FFE1;
    --accent1-color: #5FA09F;
    --accent2-color: #08415C;
}

h1 {
    font-family: "Libre Franklin", serif;
    color: var(--primary-color);
    font-weight: 600;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    top: 20px; 
    left: 800px; 
}

h2 {
    font-family: "Libre Franklin", serif;
    color: var(--primary-color);
    font-weight: 600;
}

p {
    font-family: "Libre Franklin", serif;
    font-weight: 100;
}

.hero {
    position: relative; 
    width: 100%; 
    height: 800px;
}

.hero-img {
    position: absolute; 
    width: 100%; 
    height: 100%; 

}

article {
    position: absolute; 
    bottom: 200px; 
    left: 400px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 100px; 
    color: white; 
    width: 50%; 
}

article img {
    float: right; 
    margin-left: 20px;
    width: 400px; 
    height: auto;
}

.sociallink {
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    
}

main section img {
    display: block;
    width: 50%;
    margin-bottom: 20px;
}
